head {
    background-color: white;
}


.navbar {
    background-color: #2c5655;
    
}

.navbar a:link {
    color:white;
}

.btn {
    background-color: #cca648;
    color: black;
    outline-color: #cca648 !important;
}


.btn:hover {
background-color: #2c5655;
color: white;

}

body {
    background-color: white;
    font-family: 'Alegreya Sans';
    font-size: 1.25rem;
}

.icon {
    background-color: #2c5655;
}

.image-container {
    width: 300px;
    height: 300px;
    padding: 15px;
    margin-bottom: 25px;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 40px;
  }

.carousel-item {
    max-height: 500px;
    max-width: auto;
}

#carousel {
    position: relative;
    max-height: 500px;
}



.herooverlay {
        z-index: 12;
        position: absolute;
        top: 30%;
        left: 0px;
        right: 0px;
        margin: auto auto 0 0%;
        width: 100%;
        padding: 30px 0;
      }
      
      .herooverlay h1 {
        font-size: 6vw;
            font-family: "Alegreya Sans", sans-serif;
            font-weight: 700;
            font-style: normal;
            color: white;
            text-shadow: 2px 2px 20px #000000;
              
          }

    
      
      .herooverlay p {
        font-size: 3vw;
        color: white;
        text-shadow: 2px 2px 20px #000000;
      }

      
      
      .popular {
        font-size: 1.5rem;
    
      }
      
      @media (max-width: 991px){
        .herooverlay h1 {
          font-size: 5.5vw;}}

          @media (max-width: 771px){
            .herooverlay h1 {
              font-size: 5vw;}}

          @media (max-width: 650px){
            .herooverlay p {
              display: none;}}
    
              

                  @media (max-width: 650px){
                    .herooverlay .btn {
                      font-size: 2vw;}}

                      

                  @media (max-width: 300px){
                    .herooverlay a {
                      display:none;}}
                  

#features .popular {
    text-align:center;
    font-family: "Alegreya Sans", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 2rem;
            color: 2c5655;
            padding-top: 30px;
            padding-bottom: 5px;
}

#features{
    padding-top: 0px;
    
}




.learn {
    margin-bottom: 40px;

}

.icon {
    background-color: white;
  text-align: center;
    color:#2c5655;
    font-size: 3em;
}

.popularlink {
    text-align: center;
}

body {
    margin:0;
    padding: 0;
}
footer {
    background-color: #2c5655;
    width: 100%;
    margin: 0;
    padding: 0;
}

.featurednews {
justify-content: center;
}



.hero-image img{
       
    max-width: 100%; 
    height: auto; 
    }
    
    #hero {
        position: relative;
        max-height: 500px;
    overflow:hidden;}

    #headshot {
        float:left;
    }

    #image-one {
        float:left;
    }
    #image-two {
        float:left;
    }

    .bio {
        padding: 30px;
    }
    .position {
        font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
    }

    .contact-label {
        font-family: "Alegreya Sans", sans-serif;
        font-weight: 500;
        font-style: normal;
    }

    #photo-left {

            float:left;
        }
 #photo-final {

            float:left;
        }
 #photo-right {

            float:right;
        }

        #photo-right-two {

            float:right;
        }

       .carousel-item {
    
           opacity: .75;
            min-height: 100%;
          
       }
       header {
        background-color: #000000;
       }
       .hero-image {
        opacity: .75;
        min-height:100%;
       }

      
      
      
      
      
      